html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@font-face {
    font-family: Norse-bold;
    src: url(resources/Norse-bold.otf);
}


.main {
    display:flex;
    height:99.8vh;
    flex-wrap: wrap;
}

.box {
    box-shadow: 2px 2px 5px grey;
    background-color: white;
}
.box>div {
    display: flex;
    flex-wrap: wrap;
    padding:0.8rem;
    gap:2rem;
}

.box>div div {
    display: flex;
    flex-direction: column;
}

.box>div label {
    font-size: 0.6rem;
    color: rgb(74, 74, 74);
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

legend {
    font-weight: bolder;
    color:rgb(74, 74, 74);
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.leftside {
    background-image: url(resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:22.5rem;
}

#byHailee {
    align-self: center;
    font-size: 0.7rem;
}

.card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.5);
}
#logo{
    height:5.5rem;
}
#ODIN{
    font-size: 4rem;
    font-family: Norse-bold;
}
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:1.6rem;
    font-weight: bold;
    line-height: 1.3rem;
}
a{
    text-decoration: none;
}
.ref{
    color: white;
    text-decoration: underline;
}
#login{
    color:green;
}
#signup{
    border-style: none;
    color:white;
    background-color: #596D48;
    font-weight: bold;
    height:2.5rem;
    width:10rem;
    border-radius: 0.5rem;
}
#signup:hover{
    cursor:pointer;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
input{
    border: #E5E7EB 1px solid;
    border-radius: 4px;;
}
input:focus{
    border: rgba(0, 170, 255) 1px solid;
    outline: rgba(0, 170, 255) 1px solid;
    box-shadow: 1px 1px 3px grey;
}
.valid{
   border:green 1px solid;
   outline:green 1px solid;
}
.invalid{
    border:red 1px solid;
    outline:red 1px solid;
}

@media screen and (max-width: 991px) {
    .leftside {
      width: 100%;
      gap:2rem;
      height:10rem;
    }
    .rightside{
        align-items: center;
        justify-content: flex-start;
        height:100%;
    }
    fieldset{
        align-items: center;
    }
    .box{
        padding:1rem;
    }
    .header{
        width:70%;
        text-align: center;
        margin:3rem;
    }
    .box>div {
        justify-content: center;
    }
    legend{
        text-align: center;
    }
  }
@media screen and (min-width: 992px) {
    .leftside{
        width:35%;
    }  
    .rightside{
        width:65%;
    }
    .box{
        padding:1rem;
    }
    .header,#signup,#already{
        margin-left:3rem;
    }
    .box > div{
        padding-left:2rem;
    }
    legend{
        padding:0.5rem;
        padding-left:2rem;
    }
    #byHailee{
        padding-bottom:0.5rem;
    }
    .header{
        margin-bottom:1.5rem;
    }
}