html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: Norse-bold;
    src: url(resources/Norse-bold);
}

:root {
    font-family: Norse-bold, sans-serif;
}

.main {
    display: flex;
    height: 99.8vh;
    flex-wrap: wrap;
}

.box {
    box-shadow: 2px 2px 5px grey;
    padding: 1rem;
    background-color: white;
}
.box>div {
    display: flex;
    flex-wrap: wrap;
}

.box>div div {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box>div label {
    font-size: 0.6rem;
    color: rgb(74, 74, 74);
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

legend {
    font-weight: bolder;
    padding-left: 2rem;
    color:rgb(74, 74, 74);
}

.rightside {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.leftside {
    background-image: url(resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#byHailee {
    align-self: center;
    font-size: 0.7rem;
}

.card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    bottom: 24rem;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.5);
}
#logo{
    height:5.5rem;
}
#ODIN{
    font-size: 3rem;
    letter-spacing: -0.3rem;
}
.header{
    width:31rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom:2.5rem;
    gap:1.6rem;
    font-weight: bold;
    line-height: 1.3rem;
}
.header,#signup,#already{
    margin-left:3rem;
}
a{
    text-decoration: none;
}
.ref{
    color: white;
    text-decoration: underline;
}
#login{
    color:green;
}
#signup{
    border-style: none;
    color:white;
    background-color: #596D48;
    font-weight: bold;
    height:2.5rem;
    width:10rem;
    border-radius: 0.5rem;
}
#signup:hover{
    cursor:pointer;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}